<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="./css/style.css">
    </head>

    <body>
       <div class="main-content">
            {{>header}}
            <p>This was created by Shashank. It will tell you the weather info based on your location given.</p>
            <img class="portrait" src="/img/me.jpeg">
        </div>

        {{>footer}}
    </body>
</html>